nav.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 32px;
    background-color: transparent;
    z-index: 100;
    transition: 1s;

    @media (--tabSm) {
        padding: 30px 40px;
    }

    
    &.active {
        .bt {
            @media (--tabSm) {
                visibility: visible;
                opacity: 1;
            }
        }

        .brand {
            span {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.disabled {

        @media (--tabSm) {
            visibility: hidden;
            opacity: 0;
        }
        
    }

    .brand {
        display: flex;
        align-items: flex-end;
        font-family: 'Pilat Compressed';
        font-size: 24px;
        font-weight: 700;
        color: #231B22;

        @media (--tabSm) {
            font-size: 32px;
        } 

        img {
            width: 105px;
            margin: 0 8px 0 0;

            @media (--tabSm) {
                width: 140px;
                margin: 0 16px 0 0;
            }
        }

        span {
            visibility: hidden;
            opacity: 0;
            transition: 1s;
        }
    }

    .bt {
        font-family: 'Sharp Sans';
        font-size: 18px;
        font-weight: 700;
        color: #231B22;
        border: 2px solid #231B22;
        border-radius: 93px;
        text-transform: uppercase;
        margin: 0 80px 0 auto;
        padding: 0 22px;
        line-height: 2.5;
        display: none;
        transition: 1s;
        
        @media (--tabSm) {
            display: inline-block;
            visibility: hidden;
            opacity: 0;
        }
    }

    .bt-open {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        outline: none;
    }
}

aside.menu {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -640px;
    transition: 1s;
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 200;

    &.active {
        margin-right: 0;
    }

    @media (--tabSm) {
        max-width: 375px;
    }

    .head {
        padding: 32px;

        .wrap {
            display: flex;
            align-items: center;
            margin: 0 0 24px;

            .intro {
                color: #FFF;
                font-family: 'Pilat Compressed';
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 600;
            }

            .bt-close {
                background-color: transparent;
                border: 0;
                outline: none;
                cursor: pointer;
            }

        }

        .bt {
            color: #231B22;
            background-color: #FFF;
            width: 100%;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            padding: 15px 0;
            border-radius: 93px;
            font-family: 'Sharp Sans';
        }
    }

    .lst {
        font-family: 'Sharp Sans';

        li {
            border-top: 1px solid #D7D7E0;

            &:last-child {
                border-bottom: 1px solid #D7D7E0;
            }

            a {
                display: flex;
                align-items: center;
                color: #F5F5FA;
                font-size: 16px;
                padding: 24px 32px;

                span {
                    font-weight: 500;
                    font-size: 32px;
                    margin: 0 24px 0 0;
                }
            }
        }
    }

    
}

header.sec-header {
    overflow: hidden;
    position: relative;

    @media (--tabSm) {
        padding: 0;
    }

    &::before {
        content: '';
        background: url('../../img/bg-header-mobile.png') center top no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    
        @media (--tabSm) {
            background: url('../../img/bg-header.png') center top no-repeat;
            background-size: cover;
        }
    }

    .title {
        font-family: 'Pilat Compressed';
        text-transform: uppercase;
        font-weight: 600;
        font-size: 90px;
        color: #231B22;
        text-align: center;
        line-height: 1;
        
        &:not(.subtitle) {
            margin: 80px 0 0;
            //margin: 138px 0 0;

            @media (--tabSm) {
                margin: 165px 0 0;
                font-size: 165px;
            }

            @media (--tab) {
                margin: 190px 0 0;
            }

            @media (--deskWide) {
                margin: 240px 0 0;
                font-size: 246px;
            }
        }
       
        &.subtitle {
            font-size: 32px;
            font-weight: 500;
            display: block;
            position: relative;

            @media (--tabSm) {
                margin: 71.59px 0 0;
                font-size: 37px;
            }

            @media (--desk) {
                margin: 0;
            }

            @media (--deskWide) {
                margin: 109px 0 0;
                font-size: 55px;
            }

            &::before {
                content: '';
                width: 100%;
                height: 217.5px;
                position: absolute;
                background: url('../../img/dest-header-wellness-mobile.png') center top no-repeat;
                background-size: contain;
                left: 0;
                top: -15px;
                z-index: 2;
    
                @media (--tabSm) {
                    //width: 1149.5px;
                    background: url('../../img/dest-header-wellness.png') center top no-repeat;
                    background-size: contain;
                    height: 400px;
                    top: -55px;
                }

                @media (--tab) {
                    top: -75px;
                }
    
                @media (--deskWide) {
                    height: 533.5px;
                    top: -100px;
                }
            }
        }

        

    }

    .dest {
        max-width: 152px;
        display: block;
        margin: -45px auto 0;

        @media (--tabSm) {
            max-width: 302px;
            margin: -90px 0 0 auto;
        }

        @media (--tab) {
            margin: -90px 0 -151px 65%;
        }

        @media (--desk) {
            margin: -130px 0 -151px 65%;
        }

        @media (--deskWide) {
            margin: -110px 0 -151px 66%;
        }
    }

    .intro {
        color: #000;
        font-family: 'Sharp Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        max-width: 460px;
        text-align: center;
        //margin: 170px auto 0;
        margin: 0 auto;
        padding: 0 32px;

        @media (--fold) {
            //margin: 130px auto 0;
        }

        @media (--tabSm) {
            //margin: 300px auto 0;
            padding: 0;
            font-size: 18px;
        }

        @media (--tabSm) {
            //margin: 180px auto 0;
        }

        @media (--deskWide) {
            //margin: 260px auto 0;
            max-width: 669px;
        }

    }

    .bt-wrap {
        padding: 0 32px;

        .bt {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Sharp Sans';
            line-height: 3.0;
            font-weight: 700;
            font-size: 16px;
            color: #231B22;
            border: 2px solid #000;
            border-radius: 93px;
            text-transform: uppercase;
            width: 100%;
            max-width: 462px;
            padding: 0;
            margin: 32px auto 0;
            z-index: 100;

            @media (max-width: 360px) {
                margin: 20px auto 0;
            }
    
            @media (--tabSm) {
                margin: 60px auto 0;
                font-size: 21px;
                border: 3px solid #000;
            }

            @media (--tabSm) {
                margin: 30px auto 0;
            }

            @media (--deskWide) {
                margin: 60px auto 0;
            }
        }
    }

    .begin {
        font-family: 'Sharp Sans';
        font-weight: 500;
        font-size: 14px;
        color: #000;
        display: block;
        margin: 40px auto 0;
        text-align: center;

        @media (max-width: 360px) {
            margin: 20px auto 0;
        }
        
        @media (--tabSm) {
            visibility: hidden;
        }
    }



}

section.sec-work-life {
    //padding: 128px 0 0;
    //min-height: 100vh;
    position: relative;

    @media (--tabSm) {
        //padding: 58px 0 0;
    }

    @media (--deskWide) {
        //padding: 116px 0 0;
    }

    &::before {
        content: '';
        background: url('../../img/bg-sec-work-life-mobile.png') center bottom no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    
        @media (--tabSm) {
            background: url('../../img/bg-sec-work-life.png') center top no-repeat;
            background-size: cover;
        }
    }

    .container {
        padding: 0;

        @media (--tabSm) {
            padding: 0 64px;
        }

        @media (--deskWide) {
            padding: 0;
        }
    }

    .title {
        font-family: 'Nysé';
        font-size: 56px;
        color: #231B22;
        font-weight: 700;
        //margin: 60px 0 0;
        text-align: center;

        @media (--fold) {
            font-size: 50px;
        }

        @media (--tabSm) {
            text-align: left;
            font-size: 50px;
            //margin: 60px 0 0;
        }

        @media (--desk) {
            font-size: 80px;
            text-align: center;
        }

        @media (--deskWide) {
            font-size: 100px;
            text-align: left;
        }

        .row-one {
            strong {
                font-weight: 700;
                padding: 10px 0;
                background-color: #710252;
                border: 4px solid #FFB0A7;
                color: #F5F5FA;
                border-radius: 102px;
                display: block;
                max-width: 269px;
                margin: 0 auto;
                transform: translateX(30px);
                color: #FFB0A7;

                @media (--fold) {
                    max-width: 200px;
                }

                @media (--tabSm) {
                    display: inline-block;
                    max-width: none;
                    margin: auto;
                    transform: none;
                    padding: 18px 40px;
                }

                @media (--deskWide) {
                    padding: 30px 70px;
                    max-height: 168px;
                }
            }
        }

        .row-two {
            position: relative;
            margin: -75px 0 0;
            display: block;

            @media (--tabSm) {
                padding: 0 0 0 20px;
                margin: -25px 0 0;
            }

            @media (--desk) {
                padding: 0 0 0 188px;
            }

            &::before {
                content: '';
                width: 168px;
                height: 168px;
                background: url('../../img/ico-sec-work-life-title.svg') center center no-repeat;
                background-size: cover;
                position: absolute;
                left: 0;
                top: 0;
                visibility: hidden;

                @media (--tabSm) {
                    visibility: visible;
                    width: 101.5px;
                    height: 101.5px;
                    left: 0;
                }

                @media (--deskMini) {
                    height:118px;
                    width:118px;
                    left: 25px;
                }

                @media (--desk) {
                    left: 187px;
                }

                @media (--deskWide) {
                    width: 168px;
                    height: 168px;
                    left: 0;
                }
            }

            strong {
                font-weight: 700;
                padding: 10px 0;
                background-color: #FFB0A7;
                border: 4px solid #710252;
                color: #710252;
                border-radius: 102px;
                display: block;
                margin: 0 auto;
                transform: translateX(-30px);
                max-width: 228px;

                @media (--fold) {
                    max-width: 200px;
                }

                @media (--tabSm) {
                    padding: 30px 70px;
                    max-width: 466.31px;
                }

                @media (--tabSm) {
                    display: inline-block;
                    max-width: none;
                    transform: none;
                    padding: 18px 40px;
                    margin: auto auto auto 100px;
                }

                @media (--deskMini) {
                    margin: auto auto auto 130px;
                }

                @media (--deskWide) {
                    padding: 30px 70px;
                    max-height: 168px;
                    margin: auto;
                }
            }
        }
    }

    .lst {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        margin: 50px 0 0;

        @media (--tabSm) {
            //margin: 50px 0 0;
            min-height: auto;
            margin: 4% 0 0;
        }

        @media (--desk) {
            //flex-wrap: nowrap;
        }

        @media (--deskWide) {
            margin: 88px 0 0;
        }

        li {
            padding: 44px 0 88px;

            @media (--tabSm) {
                padding: 0;
            }

            .item {
                background-color: #FFF;
                border: 2px solid #231B22;
                border-radius: 32px;
                padding: 0 24px;
                text-align: center;
                margin: 0 8px;
                height: 464px;
                position: relative;

                @media (--tabSm) {
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    //padding: 0;
                    text-align: left;
                    margin: 0 0 29px;
                    height: auto;
                }

                @media (--desk) {
                    max-width: 370px;
                }

                &::before {
                    content: '';
                    width: 88px;
                    height: 88px;
                    border: 2px solid #231B22;
                    border-radius: 50%;
                    background: url('../../img/ico-sec-work-life-slide.svg') center center no-repeat;
                    background-color: #FF874C;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -44px;
                    margin: 0 auto;

                    @media (--tabSm) {
                        display: none;
                    }
                }
                
                h3 {
                    font-family: 'Nysé';
                    line-height: 1;
                    font-weight: 700;
                    font-size: 32px;
                    margin: 102px 0 30px;
                    color: #000;
                    font-style: italic;
                    font-weight: 300;

                    @media (--tabSm) {
                        margin: 0 0 29px;
                        line-height: 1.2;
                        font-size: 28px;
                    }

                    @media (--deskWide) {
                        font-size: 32px;
                    }

                    small {
                        font-size: 16px;
                        display: block;
                        margin: 0 0 8px;
                        font-weight: bold;
                        font-style: normal;

                        @media (--tabSm) {
                            font-size: 28px;
                            margin: 0;
                        }
                    }
                }

                p {
                    font-family: 'Sharp Sans';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    text-align: center;

                    @media (--tabSm) {
                        text-align: left;
                        line-height: 1.5;
                    }
                }
            }
        }

        .slick-dots {
            bottom: -24px;

            li {
                button {
                    background-color: #D7D7E0;
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;

                    &::before {
                        content: '';
                    }
                }

                &.slick-active {
                    button {
                        background-color: #000;
                    }
                }
                
            }
        }
    }
}

section.sec-employees {
    position: relative;
    //min-height: 100vh;
    //padding: 124px 0 0;

    @media (--tabSm) {
        //padding: 141px 0 0;
    }

    &::before {
        content: '';
        background: url('../../img/bg-sec-employees-mobile.png') center bottom no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    
        @media (--tabSm) {
            background: url('../../img/bg-sec-employees.png') center bottom no-repeat;
            background-size: cover;
        }
    }

    .content {
        width: 100%;
        position: relative;
        margin: 2% 0 0;

        @media (--tabSm) {
            border: 3px solid #231B22;
            border-radius: 116px;
            padding: 88px;
            margin: 1% 0 0;
        }

        @media (--tabSm) {
            padding: 60px;
            border-radius: 82px;
        }

        @media (--deskWide) {
            padding: 88px;
            border-radius: 116px;
            margin: 1% 0 0;

        }

        .copy {
            font-family: 'Sharp Sans';
            font-weight: 700;
            font-size: 16px;
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            max-width: 252px;
            margin: 0 auto;
            color: #231B22;

            @media (--tabSm) {
                display: flex;
            }

            @media (--tab) {
                top: -12px;
                background: #F5F5FA url('../../img/bg.png') center top no-repeat;
                background-size: cover;
            }

            img {
                margin: 0 0 0 5px;
                max-width: 105px;
            }
        }

        .title {
            font-family: 'Nysé';
            font-weight: 700;
            font-size: 56px;
            line-height: 1;
            text-align: left;
            margin: 0 0 24px;
            color: #231B22;

            @media (--tabSm) {
                font-size: 40px;
                text-align: center;
                line-height: .95;
                margin: 0 0 33px;
            }

            @media (--deskMini) {
                margin: 0 0 33px;
                font-size: 45px;
            }

            @media (--desk) {
                margin: 0 0 15px;
            }

            @media (--deskWide) {
                margin: 0 0 65px;
                font-size: 96px;
            }
        }

        .intro {
            font-family: 'Sharp Sans';
            font-weight: 500;
            font-size: 16px;
            line-height: 1.4;
            text-align: left;
            display: block;
            color: #231B22;

            @media (--tabSm) {
                font-size: 18px;
                line-height: 1.5;
                text-align: center;
                max-width: 663px;
                margin: 0 auto;
            }
        }

        .lst {
            display: flex;
            flex-direction: column;
            margin: 32px 0 0;

            @media (--tabSm) {
                margin: 86px 0 0;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
            }

            @media (--tabSm) {
                margin: 37px 0 0;
            }

            @media (--desk) {
                margin: 10px 0 0;
            }

            @media (--deskWide) {
                margin: 37px 0 0;
            }

            li {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #D7D7E0;

                &:last-child {
                    border-bottom: 0;
                }

                @media (--tabSm) {
                    display: block;
                    margin: 0 40px;
                    border-bottom: 0;

                    &:first-child {
                        margin: 0 40px 0 0;
                    }

                    &:last-child {
                        margin: 0 0 0 40px;
                    }
                }

                h3 {
                    font-family: 'Nysé';
                    font-size: 32px;
                    font-weight: 700;
                    text-align: left;
                    color: #231B22;
                    width: 40px;
                    margin: 0 24px 0 0;

                    @media (--tabSm) {
                        font-size: 60px;
                        width: auto;
                        text-align: center;
                        margin: 0;
                    }

                    @media (--deskMini) {
                        font-size: 80px;
                    }
                }

                img {
                    margin: 0 auto;

                    &.desktop {
                        display: none;

                        @media (--tabSm) {
                            display: block;
                        }
                    }

                    &.mobile {
                        display: block;
                        margin: 0 24px 0 0;
                        max-width: 40px;

                        @media (--tabSm) {
                            display: none;
                        }
                    }
                }

                p {
                    font-family: 'Sharp Sans';
                    font-weight: 700;
                    font-size: 14px;
                    text-align: center;
                    color: #231B22;
                    line-height: 5;

                    @media (--tabSm) {
                        font-size: 22px;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

section.sec-looking {
    //min-height: 100vh;
    //padding: 141px 0 0;

    @media (--tabSm) {
        padding: 5% 0 0;
    }

    .container {
        padding: 0;

        @media (--tabSm) {
            padding: 0 64px;
        }
    
        @media (--deskWide) {
            padding: 0;
        }
    }
    
    .wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 32px;

        @media (--tabSm) {
            padding: 0;
        }

        .esq {
            @media (--tabSm) {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;

            }

            .title {
                font-family: 'Nysé';
                font-weight: 700;
                line-height: 1;
                font-size: 56px;
                color: #231B22;

                @media (--tabSm) {
                    font-size: 45px;
                    margin: 5% 0 0;
                }

                @media (--desk) {
                    max-width: 660px;
                    font-size: 50px;
                    margin: 3% 0 0;
                }

                @media (--deskWide) {
                    font-size: 80px;
                    margin: 1% 0 0;
                }
            }

            .intro {
                font-family: 'Sharp Sans';
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                color: #231B22;
                margin: 32px 0 0;

                @media (--tabSm) {
                    font-size: 18px;
                    margin: 40px 0;
                }

                @media (--desk) {
                    max-width: 522px;
                    margin: 0 0 11px; 
                }

                b {
                    font-weight: 700;

                    @media (--tabSm) {
                        //font-weight: 500;
                    }
                }
            }
        }

        .dir {
            max-width: 448px;
            display: none;
            align-items: center;

            @media (--tabSm) {
                display: flex;
            }

            img {
                width: 166px;
                height: 166px;
                border: 3px solid #231B22;
                border-radius: 26px;
                padding: 0 10px;
                margin: 0 56px 0 0;
            }

            h3 {
                font-family: 'Nysé';
                font-weight: 700;
                font-size: 60px;
                color: #231B22;
                
                small {
                    font-family: 'Sharp Sans';
                    line-height: 1.6;
                    font-size: 21px;
                    display: block;
                }
            }
        }


    }

    .lst {
        display: flex;
        justify-content: space-between;
        margin: 64px 0 0;

        @media (--tabSm) {
            margin: 10px 0 0;
            //flex-wrap: wrap;
            justify-content: space-evenly;
        }

        @media (--desk) {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        @media (--deskWide) {
            margin: 70px 0 0;
        }

        li.item {
            background-color: #FFF;
            border: 2px solid #231B22;
            border-radius: 32px;
            padding: 24px;
            width: 100%;
            height: 508px;
            margin: 0 8px;

            @media (--tabSm) {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                padding: 0;
                width: inherit;
                height: inherit;
                margin: 0 0 20px;
            }

            @media (--deskMini) {
                margin: 0;
            }

            .mobile {
                @media (--tabSm) {
                    display: none !important;
                }
            }

            > .ico {
                margin: 0 auto 22px;
                display: block;
            }

            > .title {
                font-family: 'Nysé';
                font-weight: 700;
                font-size: 32px;
                line-height: 1;
                color: #000;
                text-align: center;
                margin: 0 0 32px;

                @media (--fold) {
                    font-size: 26px;
                    margin: 0 0 21px;
                }
            }

            > .intro {
                font-family: 'Sharp Sans';
                font-weight: 500;
                font-size: 16px;
                line-height: 1.4;
                color: #231B22;
                text-align: center;
                margin: 21px 0 0;
            }

            .content {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .desktop {
                    display: none;

                    @media (--tabSm) {
                        display: inline-block;
                    }
                }

                .middle-circle {
                    position: absolute;
                    border-radius: 50%;
                    height: 146px;
                    width: 146px;
                    z-index: 10;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #FFF;

                    @media (--tabSm) {
                        flex-direction: column;
                        justify-content: flex-start;
                        height: 335px;
                        width: 335px;
                        //background: #F5F5FA url('../../img/bg.png') center center repeat;
                        background: transparent;
                        background-size: contain;
                    }

                    .ico {
                        margin: 30px auto 16px;
                    }

                    .title {
                        font-family: 'Nysé';
                        font-weight: 700;
                        font-size: 20px;
                        text-align: center;
                        color: #231B22;
                        line-height: 1;
                    }

                    .percentage {
                        font-family: 'Nysé';
                        font-weight: 700;
                        font-size: 72px;
                        text-align: center;
                        color: #231B22;
                        line-height: 1;
                        
                        @media (--tabSm) {
                            font-size: 110px;
                            line-height: .85;
                            margin: 16px 0 0;
                        }

                        small {
                            font-size: 40px;

                            @media (--tabSm) {
                                font-size: 64px;
                            }
                        }
                    }

                    .intro {
                        font-family: 'Sharp Sans';
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.4;
                        color: #231B22;
                        max-width: 235px;
                        margin: 0 auto;
                        text-align: center;
                    }
                }

                .circle-progress {
                    height: 158px;
                    width: 158px;

                    @media (--tabSm) {
                        height: 340px;
                        width: 340px;
                    }
                }

                .progress-spinner {
                    border-radius: 50%;
                    height: 158px;
                    width: 158px;
                    position: relative;

                    @media (--tabSm) {
                        height: 365px;
                        width: 365px;
                    }

                    &.spinner01 {
                        background: conic-gradient(#D8385E 85%, transparent 85%);
                    }

                    &.spinner02 {
                        background: conic-gradient(#FF4438 77%, transparent 77%);
                    }

                    &.spinner03 {
                        background: conic-gradient(#FFB0A7 83%, transparent 83%);
                    }
                    
                    &::before {
                        content: '';
                        height: 150px;
                        width: 150px;
                        position: absolute;
                        border: 2px solid #B6B6B6;
                        border-radius: 50%;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        background-color: transparent;
                        z-index: -1;

                        @media (--tabSm) {
                            z-index: -1;
                            height: 345px;
                            width: 345px;
                            border: 4px solid #B6B6B6;
                        }
                    }
                    
                }
            }
        }

        .slick-dots {
            bottom: -44px;

            li {
                button {
                    background-color: #D7D7E0;
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;

                    &::before {
                        content: '';
                    }
                }

                &.slick-active {
                    button {
                        background-color: #000;
                    }
                }
                
            }
        }
    
    }


}

/*
section.sec-workplace {
    padding: 2.5% 0 0;
    position: relative;

    .container {
        padding: 0;
        

        @media (--tabSm) {
            padding: 0 32px;
        }

        @media (--tabSm) {
            padding: 0;
        }
    }

    .title {
        font-family: 'Nysé';
        font-weight: 400;
        font-size: 48px;
        line-height: 1;
        color: #231B22;
        padding: 0 32px;

        @media (--tabSm) {
            padding: 0;
            font-size: 100px;
        }

        b {
            font-weight: 700;
        }
    }

    .wrap {
        display: flex;
        flex-direction: column;
        position: relative;

        @media (--tabSm) {
            flex-direction: row;
            justify-content: flex-end;
        }

        > .mandala {

            &.desktop {
                display: none;

                @media (--tabSm) {
                    display: block;
                    max-width: 984px;
                    position: absolute;
                    left: -250px;
                    top: -300px;
                    z-index: -1;
                }
            }
        }

        .dir {
            display: flex;
            flex-direction: column;
            margin: 32px 0 0 0;

            @media (--tabSm) {
                margin: -75px 0 0 0;
                flex-direction: row;
            }

            @media (max-width: 768px) {
                &.active {

                    .content {
                        p + p {
                            height: 0;
                            overflow: hidden;
                            margin: 0;
                            transition: 1s;
                        }
                    }
    
                    .only-mobile {
                        height: 0;
                        overflow: hidden;
                        margin: 0;
                    }
    
                    figure {
                        figcaption {
                            &::after {
                                height: 0;
                            }
                        }
                    }
    
                }
            }

            .content {
                padding: 0 32px;

                @media (--tabSm) {
                    max-width: 344px;
                    padding: 0;
                }

                p {
                    font-family: 'Sharp Sans';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.6;
                    color: #231B22;
                    margin: 0 0 40px;

                    &:last-child {
                        
                        @media (--tabSm) {
                            margin: 0;
                        }
                        
                    }
                }

            }

            figure {
                padding: 0 32px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                
                @media (--tabSm) {
                    max-width: 311px;
                }
                
                @media (--tabSm) {
                    max-width: 219px;
                    margin: 0 0 0 25px;
                    padding: 0;
                    flex-direction: column;
                    align-items: inherit;
                    justify-content: flex-start;
                }

                img {
                    &.desktop {
                        display: none;

                        @media (--tabSm) {
                            display: block;
                        }
                    }

                    &.mobile {
                        display: block;
                        width: 40px;
                        height: 40px;
                        margin: 0 8px 0 0;

                        @media (--tabSm) {
                            display: none;
                        }
                    }
                }

                figcaption {
                    font-family: 'Sharp Sans';
                    font-size: 16px;
                    color: #000;
                    line-height: 1.45;
                    position: relative;
                    
                    @media (--tabSm) {
                        margin: 16px 0 0;
                    }

                    &::after {
                        content: '';
                        width: calc(100vw - 64px);
                        height: 1px;
                        background-color: #D7D7E0;
                        position: absolute;
                        bottom: -35px;
                        left: -48px;
                        
                        @media (--tabSm) {
                            display: none;
                        }
                    }

                    b {
                        &::after {
                            content: ',';

                            @media (--tabSm) {
                                content: '';
                            }
                        }
                    }

                    .desktop {
                        display: none;

                        @media (--tabSm) {
                            display: block;
                        }
                    }
                }
            }

            .only-mobile {
                margin: -172px 0 0;

                @media (--tabSm) {
                    display: none;
                }

                .img-mandala {
                    width: 100%;
                }

                .desc-mandala {
                    font-family: 'Sharp Sans';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.45;
                    color: #000;
                    padding: 0 32px;
                    margin: -140px 0 0;
                }
            }

            .bt {
                padding: 0 32px;
                margin: 48px 0 0;

                @media (--tabSm) {
                    display: none;
                }

                .toggle {
                    width: 100%;
                    outline: none;
                    padding: 13px 0;
                    font-family: 'Sharp Sans';
                    font-weight: 700;
                    font-size: 16px;
                    color: #231B22;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: 2px solid #000;
                    border-radius: 93px;
                }
            }
        }
    }
}

section.sec-more {
    overflow: hidden;

    h1 {
        font-family: 'Nysé';
        font-weight: 700;
        font-size: 124px;
        color: #231B22;
        padding: 0;
        margin: 0;
        line-height: .9;
        text-align: center;
        position: relative;

        @media (--tabSm) {
            font-size: 277px;
        }

        img {
            position: absolute;
            left: 35px;
            top: -60px;
            width: 200px;

            @media (--tabSm) {
                top: -140px;
                left: 74px;
                width: 460px;
            }

            @media (--tabSm) {
                left: 202px;
            }

            @media (--tabSm) {
                left: 317px;
                top: -140px;
            }
        }

        img + span {
            visibility: hidden;
        }


        
    }
}
*/

footer.sec-footer {
    //padding: 177px 0 0;

    @media (--tabSm) {
        //height: 100vh;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .esq, .dir {
            width: 100%;
            //min-height: 100vh;

            @media (--desk) {
                width: 47.5%;
            }

            @media (min-width: 1360px) {
                width: 100%;
                max-width: 522px; 
                min-height: auto;
            }
            
        }

        .esq {

            .intro {
                font-family: 'Nysé';
                font-size: 36px;
                font-weight: 400;
                line-height: 1.1;
                color: #231B22;

                @media (--tabSm) {
                    font-size: 48px;
                }

                b {
                    display: inline-block;
                    font-weight: 700;
                }
            }

            .wrap {
                display: flex;
                align-items: center;
                padding: 24px 0;
                border-top: 1px solid #000;
                margin: 80px 0 0;

                @media (--tabSm) {
                    padding: 24px 0;
                    margin: 40px 0 0;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0 8px 0 0;

                    @media (--tabSm) {
                        width: 64px;
                        height: 64px;
                        margin: 0 16px 0 0;
                    }
                }

                span {
                    font-family: 'Sharp Sans';
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;

                    @media (--tabSm) {
                        font-size: 18px;
                    }
                    
                    b {
                        font-weight: 700;
                    }
                }
            }


        }

        .dir {
            form {
                .intro {
                    font-family: 'Sharp Sans';
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 1.4;
                    color: #231B22;
                    margin: 0 0 30px;

                    .title-mobile {
                        &::after {
                            content: ' - ';
                        }
                    }

                    @media (max-width: 640px) {
                        font-size: 16px;
                        font-weight: 500;
                        margin: 0 0 30px;

                        .title-mobile {
                            font-family: 'Nysé';
                            display: block;
                            font-weight: 700;
                            font-size: 56px;
                            line-height: 1;
                            margin: 48px 0 24px;

                            &::after {
                                content: '';
                            }
                        }

                    }

                }

                .wrap {
                    display: flex;
                    flex-wrap: wrap;

                    @media (--tabSm) {
                        flex-wrap: nowrap;
                    }

                    input {
                        &:first-child {
                            @media (--tabSm) {
                                margin: 25px 25px 0 0;
                            }
                        }
                    }
                }

                input {
                    font-family: 'Sharp Sans';
                    font-size: 16px;
                    width: 100%;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid #000;
                    color: #231B22;
                    padding: 0 0 16px;
                    margin: 25px 0 0;
                    outline: none;
                    
                    &::placeholder {
                        color: #231B22;
                        font-weight: 700;
                        font-size: 16px;
                    }

                }

                .agree {
                    font-family: 'Sharp Sans';
                    font-weight: 500;
                    font-size: 14px;
                    color: #000;
                    margin: 32px 0;
                    line-height: 1.4;

                    a {
                       color: #FF4438;
                       text-decoration: underline; 
                    }
                }

                .bt {
                    font-family: 'Sharp Sans';
                    width: 100%;
                    line-height: 3;
                    text-transform: uppercase;
                    background-color: transparent;
                    outline: none;
                    font-weight: 700;
                    color: #231B22;
                    border-radius: 93px;
                    cursor: pointer;
                    border-color: #000;
                }
            }
        }
    }

    .copyright {
        padding: 60px 0 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        font-family: 'Sharp Sans';
        font-weight: 700;
        color: #231B22;
        font-size: 12px;
        line-height: 1.5;

        @media (--desk) {
            padding: 60px 0 0;
            text-align: left;
            justify-content: flex-start;
            line-height: inherit;
        }

        img {
            max-width: 68px;
            margin: 0 0 0 4px;
        }

        > span {
            font-weight: 500;
            

            @media (--tabSm) {
                margin: 0 0 0 10px;
            }

            &::before {
                @media (--tabSm) {
                    content: '|';
                    margin: 0 8px 0 0;
                }
                
            }
        }
    }
    
}

img.ico-scroll { 
    position: fixed;
    left: 15px;
    bottom: 56px;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: 1s;

    @media (--tabSm) {
        visibility: visible;
        opacity: 1;
        left: 20px;
    }

    @media (--deskWide) {
        left: 40px;
    }

    &.disabled {
        visibility: hidden !important;
        opacity: 0 !important;
    }
}

img.ico-lbm {
    position: fixed;
    right: 15px;
    bottom: 56px;
    visibility: hidden;
    z-index: 100;
    transition: 1s;

    @media (--tabSm) {
        visibility: visible;
        right: 20px;
    }

    @media (--deskWide) {
        right: 40px;
    }

    &.disabled {
        visibility: hidden !important;
        opacity: 0 !important;
    }
}