@custom-media --ph (width > 400px);
@custom-media --phWide (width > 480px);
@custom-media --phTab (width > 560px);
@custom-media --tabSm (width > 640px);
@custom-media --tab (width > 768px);
@custom-media --tabWide (width > 1024px);
@custom-media --deskMini (width > 992px);
@custom-media --desk (width > 1248px);
@custom-media --deskWide (width > 1440px);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../../img/bg-mobile.jpg') center top repeat;
    background-size: cover;

    @media (--tabSm) {
        background: url('../../img/bg.jpg') center top repeat;
        background-size: cover;
    }
}

.container {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 32px;

    @media (--desk) {
        padding: 0;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}