/* Nysé */

@font-face {
    font-family: 'Nysé';
    src: 
    url('../../fonts/Nysé/Nysé-Regular.woff') format('woff'), 
    url('../../fonts/Nysé/Nysé-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-Italic.woff') format('woff'), url('../../fonts/Nysé/Nysé-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-BookItalic.woff') format('woff'), url('../../fonts/Nysé/Nysé-BookItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-Book.woff') format('woff'), url('../../fonts/Nysé/Nysé-Book.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-DemiItalic.woff') format('woff'), url('../../fonts/Nysé/Nysé-DemiItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-Demi.woff') format('woff'), url('../../fonts/Nysé/Nysé-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-BoldItalic.woff') format('woff'), url('../../fonts/Nysé/Nysé-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-Bold.woff') format('woff'), url('../../fonts/Nysé/Nysé-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-HeavyItalic.woff') format('woff'), url('../../fonts/Nysé/Nysé-HeavyItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-Heavy.woff') format('woff'), url('../../fonts/Nysé/Nysé-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-BlackItalic.woff') format('woff'), url('../../fonts/Nysé/Nysé-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nysé';
    src: url('../../fonts/Nysé/Nysé-Black.woff') format('woff'), url('../../fonts/Nysé/Nysé-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* Pilat Compressed */

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Thin.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Light.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Regular.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Book.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Book.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Demi.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Bold.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Heavy.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../../fonts/Pilat Compressed/PilatCompressed-Black.woff') format('woff'), url('../../fonts/Pilat Compressed/PilatCompressed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* Sharp Sans */

@font-face {
    font-family: 'Sharp Sans';
    src: url('../../fonts/Sharp Sans/SharpSans-Medium.ttf') format('truetype'), url('../../fonts/Sharp Sans/SharpSans-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../../fonts/Sharp Sans/SharpSans-MediumItalic.ttf') format('truetype'), url('../../fonts/Sharp Sans/SharpSans-MediumItalic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../../fonts/Sharp Sans/SharpSans-Extrabold.ttf') format('truetype'), url('../../fonts/Sharp Sans/SharpSans-Extrabold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../../fonts/Sharp Sans/SharpSans-ExtraboldItalic.ttf') format('truetype'), url('../../fonts/Sharp Sans/SharpSans-ExtraboldItalic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../../fonts/Sharp Sans/SharpSans-Bold.ttf') format('truetype'), url('../../fonts/Sharp Sans/SharpSans-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../../fonts/Sharp Sans/SharpSans-BoldItalic.ttf') format('truetype'), url('../../fonts/Sharp Sans/SharpSans-BoldItalic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}